<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SentryDSN" value="https://[id]@sentry.io/[another-id]" />

		<add key="HostID" value="HasanG" />
		<add key="BackupDir" value="C:\Backup\Databases Backup\" />
		<add key="DBs" value="*" />
		<add key="ExcludedDBs" value="tempdb;db-name-to-exclude" />
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Data Source=.\;Initial Catalog=master;Integrated Security=SSPI" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>